*{
    margin: 0;
    padding: 0;
}
html{
    background: white;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: rgb(73, 9, 73);
    width: 800px;
    margin: 0 auto;
}
header{
    display: flex;
    background-color: rgb(73, 9, 73);
}

 .imglogo{
    position: relative;
    left: 150px;
    top: 10px;
}
.offer{
    height: 70px;
    width: 200px;
    position: relative;
    top: 170px;
    right: 140px;
    background-color: purple;
    color: white;
   
}

.offer h1{
   padding: 10px;
   font-size: 35px;
   text-align: center;
}
.offer h2{
    background-color: yellow;
    font-size: 35px;
    text-align: center;
    color: black;
    padding: 20px;
    height: 25px;
    position: relative;
    left: 10px;
    bottom: 10px;
}
main{
    position: relative;
    bottom: 5px;
    margin:0 50px;
    padding-bottom: 20px;
    background: linear-gradient(to top left,rgb(106, 11, 11), purple);
    border-radius: 50px;
}
main p{
    display: inline-block;
    color: white;
    margin-left:180px;
    padding: 15px;
    width: 500px;
    font-size: 18px;
    font-weight:bold;
    border: 2px white solid;
    border-radius: 50px;
    background-color: rgb(155, 21, 155);
} 
span{
    vertical-align: super;
    color: white;
    font-size: 15px;
}
main h1{
    display: inline-block;
    margin-left: 190px;
    border-bottom: 1px white solid;
    color: yellow;
    font-size: 35px;
}
ul{
    margin-left: 100px;
}
li{
    color: white;
    list-style-type: none;
    margin-top: 10px;
}
 ul li::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    background-image: url(star.png);
    background-size: cover; 
} 
#one li{
   margin-left: 20px;
}
footer{
    width: 700px;
    height: 90px;
    background-color: white;
    color: brown;
    border-radius: 20px;
    margin-left: 40px;
}
footer h2{
    position: relative;
    top: 15px;
    padding: 2px;
    text-align: center;
    font-size: 25px;
}
.container{
  display: flex;
  height: 100px;
  margin-top: 10px;
  justify-content: space-around;
  color: white;
  background: linear-gradient(to left,rgb(106, 11, 11), purple);
  
}
.container h1{
    font-size: 37px;
}
.customercare,.homecare p{
 padding-top: 3px;
}
.contact p{
    font-size: 0.7em;
   padding: 4px;
}
.customercare,.homecare,.contact{
    border-right: 1px white solid;
    width: 200px;
}
.barcode i{
  margin-top: 5px;
  margin-right: 20px;
}

